body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.image-container {
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}