#kakaopay {
    background: url("./static/asset/payment_icon_yellow_large.png") no-repeat;
}

#kakaopay > img {
    width: 120px;
    height: 50px;
}

#tosspay {
    background: url("./static/asset/logo-toss-symbol-alpha.png") no-repeat;
}

#tosspay > img {
    width: 70px;
    height: 70px;
}

#modal-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#payment-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#inputPrice::placeholder {
    text-align: center;
}